// stylelint-disable selector-max-id
@use './variables';
@use './mixins';

#valantic-vue-styleguide {
  height: 100%;
  background-color: variables.$vas-color-grayscale--1000;
  color: variables.$vas-color-grayscale--0;
  font-family: variables.$vas-font-family--primary;
  font-size: variables.$vas-font-size--16;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-size: variables.$vas-font-size--30;
    line-height: 1.15;
  }

  h2 {
    font-size: variables.$vas-font-size--28;
    line-height: 1.15;
  }

  h3 {
    font-size: variables.$vas-font-size--26;
    line-height: 1.15;
  }

  h4 {
    font-size: variables.$vas-font-size--24;
    line-height: 1.15;
  }

  h5 {
    font-size: variables.$vas-font-size--20;
    line-height: 1.15;
  }

  h6 {
    font-size: variables.$vas-font-size--18;
    line-height: 1.15;
  }

  a {
    color: variables.$vas-color-grayscale--0;

    &:hover {
      color: variables.$vas-color-grayscale--0;
    }
  }

  // Show browser based input style, if no classes available.
  input:not([class]),
  textarea:not([class]),
  select:not([class]) {
    all: revert;
  }

  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  pre,
  code,
  kbd,
  samp {
    font-family: monospace;
    font-size: 1em;
  }

  pre {
    overflow: auto;
  }

  button,
  select {
    text-transform: none; // Remove the inheritance of text transform in Firefox
  }

  // Add the correct vertical alignment in Chrome, Firefox, and Opera.
  progress {
    vertical-align: baseline;
  }

  // Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  textarea {
    // Textareas should really only resize vertically so they don't break their (horizontal) containers.
    resize: vertical;
  }

  // Correct the cursor style of increment and decrement buttons in Chrome.
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    height: auto;
  }

  [type='search'] {
    // This overrides the extra rounded corners on search inputs in iOS so that our
    // `.form-control` class can properly style them. Note that this cannot simply
    // be added to `.form-control` as it's not specific enough. For details, see
    // https://github.com/twbs/bootstrap/issues/11586.
    outline-offset: -2px; // 2. Correct the outline style in Safari.
    -webkit-appearance: none;
  }

  // 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
  //    controls in Android 4.
  // 2. Correct the inability to style clickable types in iOS and Safari.
  button,
  html [type='button'], // 1
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button; // 2
  }

  //
  // Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
  //
  [type='search']::-webkit-search-cancel-button,
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'] {
    // Remove the default appearance of temporal inputs to avoid a Mobile Safari
    // bug where setting a custom line-height prevents text from being vertically
    // centered within the input.
    // See https://bugs.webkit.org/show_bug.cgi?id=139848
    -webkit-appearance: listbox;
  }

  //
  // 1. Correct the inability to style clickable types in iOS and Safari.
  // 2. Change font properties to `inherit` in Safari.
  //
  ::-webkit-file-upload-button {
    font: inherit; // 2
    -webkit-appearance: button; // 1
  }
}
