$color-grayscale--0: #222222;
$color-grayscale--100: #333333;
$color-grayscale--200: #646464;
$color-grayscale--300: #8f8f8f;
$color-grayscale--400: #afafaf;
$color-grayscale--500: #d8d8d8;
$color-grayscale--600: #f3f3f3;
$color-grayscale--700: #fcfcfc;
$color-grayscale--1000: #ffffff;

$valantic--blue: #4C26B7;
$valantic--orange: #FF4E4C;

$color-secondary--1: $valantic--orange;
$color-secondary--2: $valantic--orange;

$color-status--error: #ff0000;

$form-field-padding: 8px;
$form-border-radius: 3px;
$form-border-color: $color-grayscale--500;
$form-border-color--hover: $color-grayscale--400;
